{
  "presets": [
    ["env"]
  ],
  "plugins": [
    ["prismjs", {
      "languages": [
        "applescript",
        "bash",
        "css",
        "javascript",
        "json",
        "markup",
        "php",
        "scss"
      ],
      "plugins": ["line-numbers"],
      "theme": "default",
      "css": true
    }]
  ]
}
