/* Theme Values
 *
 * Theme specific variables.
 */

/* Base unit in px
 * @see `../index.scss`
 */

$base-unit: $base-unit;

/* Default Project Colors
 * see `../core/_colors.scss`
 */

$color-primary: color(green-dark);
$color-secondary: color(green-light);
// $color-tertiary: color(red-dark);
$color-highlight: color(green);
$color-text: color(green-very-dark);
$color-background: color(green-very-light);

/* Default Project Fonts
 * see `../core/_typography.scss`
 */

$font-body: 1rem/#{calc(5/3)} font-family(sans-serif);
$font-header: 700 1.5rem/#{calc(4/3)} font-family(serif);
$font-branding: 2rem/1 font-family(display);

/* Project Variables
 * Custom theme values
 */

// Max site width
$width--site: 54rem;

// Max content width
$width--content: 44rem;

// Theme Layout Vars
$height--site-header-content: rem(32);
$height--site-header: spacer(5);
$margin-bottom--site-header: 0;

// Reusable Borders
$border--solid: 1px solid $color-secondary;
$border--light: 1px solid fade-out($color-secondary, 0.25);
$border--dotted-light: 1px dotted fade-out(color(white), 0.75);
$border--solid-dark: 3px solid $color-text;
$border--heavy: 6px solid $color-primary;
