/* SCSS Utilities
 *
 * Helper mixins and functions for use throughout the theme
 */

/* Functions
 *
 */

// Return px value as rem.
@function rem($px, $base: $base-unit) {
	// TODO, check if value is valid
	//   1. a number
	//   2. unitless
	@return calc(#{$px}/#{$base}rem);
}

// Space using rem grid.
@function spacer($units) {
	@return ( $units * 1rem );
}

// PS style letter spacing based on 1000 value
@function letter-spacing($spacing: 100) {
	@return calc( #{$spacing} / 1000em );
}

/* Mixins
 *
 */

// Link hover effect
@mixin link-hover() {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

// Aspect Ratio
@mixin aspect-ratio($width: 3, $height: 2) {
	display: block;
	height: 0;
	overflow: hidden;
	padding-top: calc( ( #{$height} / #{$width} ) * 100%);
	position: relative;
	width: 100%;
}

// Absolute Pinned
@mixin absolute-pinned() {
	bottom: 0;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

// Absolute Center
@mixin absolute-center() {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

// Scale image to fill container
@mixin image-fill() {
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	width: 100%;
}

// Display pseudo element as block
@mixin pseudo-block($height: 1em, $width: 1em) {
	content: '';
	display: block;
	height: $height;
	width: $width;
}

// Horizontal Separator
@mixin separator($character: '|', $spacing: spacer(1)) {
	&::after {
		content: $character;
		margin: 0 $spacing;
	}

	&:last-child {
		&::after {
			display: none;
		}
	}
}

// Placeholder background image
@mixin image-placeholder {
	background-image: url('../../img/image-icon.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 25%;
	box-shadow: 0 0 50vw rgba(0,0,0,0.333) inset;
}

// WP Screen Reader Text Mixin
@mixin screen-reader-text {
	/* Disable stylelint for !important browser overrides */
	/* stylelint-disable declaration-no-important */
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;

	&::focus {
		background-color: #eee;
		clip: auto !important;
		clip-path: none;
		color: $color-primary;
		display: block;
		font-size: 1rem;
		height: auto;
		left: spacer(0.5);
		line-height: normal;
		padding: spacer(1) spacer(1.5);
		text-decoration: none;
		top: spacer(0.5);
		width: auto;
		z-index: z-index(front);
	}
	/* stylelint-enable */
}

// Comma separated list styles for standard UL > LI, OL lists.
@mixin comma-list() {
	li,
	ol {
		display: inline-block;

		&:not(:last-child)::after {
			content: ',\00a0';
			display: inline-block;
		}
	}
}

// Alternating Backgrounds for repeating content sections.
@mixin repeating-sections( $vertical-space: spacer(3), $start-from: first ) {
	padding: $vertical-space 0;

	@if ( $start-from == last) {
		&:nth-last-child(2n+1) {
			background: $color-secondary;
		}
	}
	@else {
		&:nth-child(2n+1) {
			background: $color-secondary;
		}
	}
}

// Picture Frame
@mixin picture-frame() {
	border: 3px solid color(white);
	box-shadow: 0 0.5rem 1rem -0.5rem rgba(0,0,0,0.5);
	top: 0;
	transition: top 0.2s, box-shadow 0.5s;

	&:hover {
		top: -2px;
		box-shadow: 0 calc(0.5rem + 2px) calc(1rem + 2px) calc(-0.5rem + 2px) rgba(0,0,0,0.5);
	}
}

// Flat Frame
@mixin flat-frame() {
	outline: 1px solid hsla(0,0%,50%,0.25);
	box-shadow: 0 0.25rem 1rem -0.5rem rgba(0,0,0,0.25);
	transition: outline 2s, box-shadow 1s;

	&:hover {
		outline: 1px solid hsla(0,0%,25%,0.5);
		box-shadow: 0 0.25rem 1rem -0.5rem rgba(0,0,0,0.5);
	}
}

/* SCSS Dev Utilities
 *
 */

@mixin dev-block($color: red, $background: rgba(255,255,0,0.1), $outline: 1px dotted $color) {
	outline: $outline;
	background: $background;
}
