/* Post List Styles
 *
 * Styles and formatting for the post list component.
 */

.post-list__wrapper {
	@include wrapper;
}

.post-list__header {
	font-size: rem(32);
	letter-spacing: letter-spacing(10);
	margin-bottom: spacer(2);
	line-height: 1;
}

.post-list__description {
	font-size: rem(14);
	margin: spacer(-1) 0 spacer(1);
}

.post-list__feed--touts {
	@include grid(1, spacer(3));

	@include breakpoints(small, large) {
		@include grid(2, spacer(3));
	}

	@include breakpoints(large) {
		@include grid(3, spacer(3));
	}
}

.post-list__feed--column {
	@include vertical-rhythym( spacer(1.5), spacer(1.5), 1px dotted $color-secondary );
	margin-bottom: spacer(1.5);
}

.post-list__item {
	display: flex;
	flex-direction: column;
}

.post-list__item-title {
	@include item-subheader;
	margin-bottom: spacer(0.75);
}

.post-list__item-title--text {
	margin-bottom: spacer(0.5);
}

.post-list__item-excerpt,
.post-list__item-meta {
	color: $color-primary;
	font-size: rem(12);
	line-height: calc(7 / 6);
}

.post-list__item-excerpt {
	// If item has thumbnail, don't show excerpt
	.post-list__item-thumbnail ~ & {
		display: none;
	}

	.post-list__item-meta--text + & {
		margin-top: spacer(0.5);
	}
}

.post-list__item-meta--portfolio {
	margin-top: spacer(-0.5);

	.post-meta__value,
	.post-meta__list {
		display: inline;
	}

	.post-meta__value + .post-meta__list::before {
		content: "- ";
		display: inline;
	}
}

.post-list__item-meta--text {
	display: flex;

	.post-meta__category::before {
		content: '–';
		display: inline-block;
		padding: 0 spacer(0.3);
	}
}

.post-list__read-more {
	padding-top: spacer(2);
	display: block;
	font-size: rem(14);
	font-weight: 700;
	letter-spacing: letter-spacing(100);
	text-align: right;
	text-transform: uppercase;

	a {
		@include link-hover;
		color: inherit;
	}
}

.post-thumbnail {
	margin-bottom: spacer(1);
}

.post-thumbnail__frame {
	@include aspect-ratio(16, 9);
	@include flat-frame;

	img {
		@include absolute-center();
		@include image-fill();
	}
}

.post-thumbnail__frame--portfolio {
	img {
		object-position: 50% 0;
	}
}
