/* Resume Styles
 *
 * Custom styles overrides for Resume Page
 */

.post-header__content--resume,
.post-content--resume,
.menu-resume-submenu-container {
	@include wrapper();
}

.post-content--resume {
	@include breakpoints(medium) {
		display: flex;
		flex-wrap: wrap;

		.resume__section--col-one-third,
		.resume__section--col-two-thirds {
			flex: 0 0 auto;
		}

		.resume__section--col-one-third {
				width: calc(100% / 3);
				margin-right: spacer(3);
		}

		.resume__section--col-two-thirds {
				width: calc(((100% / 3) * 2) - #{spacer(3)} );
		}

		.resume__section--experience {
				order: 2;
		}

		.resume__section--skills {
				order: 1;
		}

		.resume__section--involvement {
				order: 3;
		}

		.resume__section--education {
				order: 4;
		}
	}

	h2 {
		padding-bottom: spacer(0.5);
		border-bottom: $border--solid-dark;
	}

	h3,
	h4 {
		color: $color-text;
		padding: 0;
		border: none;
		margin-bottom: spacer(0.125);
	}

	h3 {
		font-size: rem(22);
	}

	h4 {
		font-size: rem(18);
		margin-bottom: spacer(1);
		text-transform: none;

		+ h4 {
			margin-top: spacer(-1);
		}
	}

	p {
		margin-bottom: spacer(1.5);
	}

	ul {
		margin-bottom: spacer(1.5);
		font-size: rem(15);
	}

	li {
		margin: 0 0 spacer(0.5) spacer(-1);
	}
}
