/* Page Content
 *
 * Styles for Single Page Content
 */

.page-section {
	@include repeating-sections(spacer(3), last);
}

.post-header--page-work {
	+ .post-content {
		display: none;
	}
}

.social-block {
	padding: spacer(1) 0 0;

	ul {
		list-style: none;
		display: flex;
		margin: 0;
	}

	li {
		flex: 0 0 calc(100% / 5);
	}

	a {
		display: flex;
		flex-direction: column;
		max-height: 4em;
		overflow: hidden;

		&::before {
			min-height: 4em;
			width: 4em;
			margin-bottom: 1em;
		}
	}
}
