/* Page Content
 *
 * Styles for Single Page Content
 */

.page-section {
	@include repeating-sections(spacer(3), first);
}

.post-header--page-work {
	+ .post-content {
		display: none;
	}
}

.social-block {
	padding: spacer(1) 0 0;

	ul {
		display: flex;
		margin: 0;
	}

	li {
		flex: 0 0 auto;
		margin: 0;
		width: calc(100% / 5);

		&::before {
			content: '';
			display: none;
		}
	}

	a {
		display: flex;
		flex-direction: column;
		max-height: 3em;
		overflow: hidden;

		@include breakpoints(small) {
			max-height: 4em;
		}

		&::before {
			margin: 0 auto;
			min-height: 3em;
			width: 3em;

			@include breakpoints(small) {
				min-height: 4em;
				width: 4em;
			}
		}
	}
}
