/* Page Content
 *
 * Styles for Single Page Content
 */

.page-section {
	@include repeating-sections(spacer(3), first);
}

.post-header--page-work {
	+ .post-content {
		display: none;
	}
}

.social-block {
	padding: spacer(1) 0 0;

	ul {
		display: flex;
		list-style: none;
		margin: 0;
	}

	li {
		flex: 0 0 calc(100% / 5);
	}

	a {
		display: flex;
		flex-direction: column;
		max-height: 3em;
		overflow: hidden;

		@include breakpoints(medium) {
			max-height: 4em;
		}

		&::before {
			margin-bottom: 1em;
			min-height: 3em;
			width: 3em;

			@include breakpoints(medium) {
				min-height: 4em;
				width: 4em;
			}
		}
	}
}
