/* Main Navigation
 *
 * Primary menu in the site-header.
 * Options:
 * 	 - Top Level Only
 *   - Priority Nav
 */

/* Default main navigation */
.site-navigation {
	display: flex;
	flex: 1 1 auto;
	font: 700 rem(20)/1 font-family(display);
	max-height: 100%;
	text-transform: uppercase;

	@include breakpoints(small) {
		font-size: rem(16);
	}
}

.site-navigation__mobile-toggle {
	@include reset-button;
	@include hide-text;
	background: $color-secondary;
	height: $height--site-header-content;
	margin-left: auto;
	mask: url(../../img/icon-menu.svg) no-repeat center;
	mask-size: cover;
	width: $height--site-header-content;

	@include breakpoints(small) {
		display: none;
	}
}

.site-navigation__menu-wrapper {
	background: $color-background;
	border-left: $border--solid;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX($width--mobile-menu);
	width: $width--mobile-menu;

	@include breakpoints(small) {
		background: transparent;
		border: none;
		margin-left: auto;
		position: relative;
		transform: none;
		width: auto;
	}

	.menu {
		@include vertical-rhythm(0, 0, $border--solid);
		border-bottom: $border--solid;

		@include breakpoints(small) {
			display: flex;
			border: none;

			> * {
				border: none;
			}
		}

		> li {
			color: $color-text;

			@include breakpoints(small) {
				align-items: center;
				display: flex;
				margin: 0 0 0 spacer(1);

				&:first-of-type {
					margin: 0;
				}
			}
		}

		a {
			color: inherit;
			display: flex;
			padding: 1em;
			text-decoration: none;

			&:active {
				background: fade-out($color-secondary, 0.5);
			}

			@include breakpoints(small) {
				@include link-hover;
				color: $color-secondary;
				padding: 0;

				&:active {
					background: transparent;
				}
			}
		}
	}
}

.primary-menu {
	@include breakpoints(small) {
		margin-left: auto;
	}
}

/* Top Level Only main navigation */
.primary-menu--top-level {
	li > ul {
		display: none;
	}
}

/* Priority Nav main navigation */
.primary-menu--priority-nav {
	@include breakpoints(small) {
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			max-height: $height--site-header-content;
			overflow: hidden;

			li {
				height: $height--site-header-content;
			}

			li > ul {
				display: none;
			}
		}
	}
}

.social-menu {
	@include breakpoints(small) {
		display: none;
	}
}
