/* Main Navigation
 *
 * Primary menu in the site-header.
 * Options:
 * 	 - Top Level Only
 *   - Priority Nav
 */

/* Default main navigation */
.main-navigation {
	display: flex;
	flex: 1 1 auto;
	font: 700 1rem/1 font-family(display);
	max-height: 100%;
	text-transform: uppercase;

	> div[class^='menu'] {
		margin-left: auto;
	}

	ul {
		display: flex;

		> li {
			align-items: center;
			display: flex;
			margin: 0 0 0 spacer(1);

			&:first-of-type {
				margin: 0;
			}

			a {
				@include link-hover;
				color: $color-secondary;
				display: block;
			}
		}
	}
}

/* Top Level Only main navigation */
.main-navigation--top-level {
	li > ul {
		display: none;
	}
}

/* Priority Nav main navigation */
.main-navigation--priority-nav {
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		max-height: $height--site-header-content;
		overflow: hidden;

		li {
			height: $height--site-header-content;
		}

		li > ul {
			display: none;
		}
	}
}

.menu-toggle {
	/* DEV */
	display: none;
}
