/* Site
 *
 * Global layout and base styles
 */

html {
	overflow-x: hidden;
	max-width: 100vw;
	font-size: calc((#{$base-unit}/16) * 100%);
}

body {
	background: $color-background;
	color: $color-text;
	font: $font-body;

	@include breakpoints(none, medium) {
		max-width: 100vw;
	}
}

html,
body,
.site {
	height: 100%;
}

.site {
	display: flex;
	flex-direction: column;
}

// Element Defauls & Resets
h1,
h2,
h3,
h4 {
	font-family: font-family(display);
	font-weight: 700;
	letter-spacing: letter-spacing(-10);
	text-transform: uppercase;
}

img {
	max-width: 100%;
	height: auto;
}

.screen-reader-text {
	@include screen-reader-text;
}
