/* Site Header
 *
 */

.site-header {
	align-items: center;
	background-color: $color-primary;
	color: $color-secondary;
	flex: 1 0 auto;
	margin-bottom: $margin-bottom--site-header;
	padding: spacer(1.5) 0;
	width: 100%;
	z-index: z-index(interface);
}

.site-header--sticky {
	position: fixed;
	height: $height--site-header;

	& ~ .site-content {
		padding-top: $height--site-header + $margin-bottom--site-header;
	}
}

.site-header__wrapper {
	display: flex;
}

.site-branding {
	display: flex;
	flex: 0 0 auto;
	margin-right: spacer(1);
}

.site-title {
	align-items: center;
	display: flex;
	font: $font-branding;
	letter-spacing: 0.0125em;
	margin: 0;
	text-transform: uppercase;

	a {
		color: $color-secondary;
		display: block;
		text-decoration: none;
	}
}

.site-logo {
	img,
	svg {
		height: $height--site-header-content;
		width: auto;
	}
}

.site-description {
	align-items: center;
	border-left: 1px solid color(grey-dark);
	display: none;
	line-height: 1;
	margin-left: spacer(1);
	padding-left: spacer(1);
}
