/* Home Styles
 *
 * Styles for the Front Page
 */

.home-section {
	@include repeating-sections(spacer(4),last);
}

.post-header__content {
	padding-bottom: spacer(1.5);
}

.post-content {
	text-align: center;
	font-size: rem(18);

	p:first-of-type {
		font-size: rem(20);
	}
}
