/* Home Styles
 *
 * Styles for the Front Page
 */

.home-section {
	@include repeating-sections(spacer(4), last);
}

.post-header {
	padding-bottom: spacer(3);
}

.featured-image__frame {
	.skip-to {
		@include horizontal-center;
		animation-delay: 1500ms;
		animation-duration: 500ms;
		animation-fill-mode: forwards;
		animation-name: sideDown, fadeIn;
		animation-timing-function: ease-in;
		background: fade-out($color-secondary, 0.75);
		border-radius: rem(2);
		bottom: spacer(1.5);
		height: 3rem;
		opacity: 0;
		overflow: hidden;
		text-indent: 101%;
		transform: translate(-50%, -1.5em);
		white-space: nowrap;
		width: 4rem;

		&::before {
			@include pseudo-block(1.5rem, 1.5rem);
			@include absolute-center;
			border: $border--solid-dark;
			border-right: none;
			border-top: none;
			transform: translate(-50%, -1.125rem) rotate(-45deg);
		}
	}
}

.post-content {
	font-size: rem(18);
	padding-top: spacer(3);
	text-align: center;

	p:first-of-type {
		font-size: rem(20);
	}
}
