/* Post Header
 *
 * Styles for Single Post Header
 */

.post-header__content {
	@include wrapper( $width--content );
	@include vertical-rhythym(spacer(1.5));
	padding: spacer(3) 0;
}

.post-header__meta {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.post-meta {
	a {
		@include link-hover;
		color: inherit;
	}
}

.post-meta__label,
.post-meta__value,
.post-meta__list-item {
	display: block;
	font-size: rem(12);
	text-transform: uppercase;
}

.post-meta__label {
	@include breakpoints(medium) {
		@include screen-reader-text;
	}
}

.post-header__intro {
	font-size: rem(20);
	line-height: calc(4 / 3);
	text-align: justify;
}

.post-title {
	font-size: rem(48);
	font-weight: 700;
	line-height: 1;
	margin-bottom: spacer(2);
}
