/* Post Footer
 *
 * Styles for Post Footer
 */

.post-footer,
.page-footer {
	@include wrapper($width--tablet);

	@include breakpoints(medium) {
		@include wrapper($width--content);
	}
}

.author {
	@include breakpoints(medium) {
		display: flex;
	}
}

.author__image {
	width: 100%;
	margin-bottom: spacer(1);

	img {
		width: 100%;
	}

	@include breakpoints(medium) {
		margin: 0 spacer(3) 0 0;
		flex: 0 0 rem(128);
	}
}

.author__about {
	@include breakpoints(medium) {
		flex: 0 1 auto;
	}
}

.author__name {
	font-size: rem(20);
	margin-bottom: spacer(0.5);

	@include breakpoints(medium) {
		font-size: rem(18);
	}
}

.author__description {
	font-size: rem(14);
}
