/* Work Post Header
 *
 * Styles for Single Work Post Header
 */

.work-screenshot {
	padding-top: spacer(1.5);
	position: relative;

	&::before {
		@include pseudo-block( #{calc(75vw * (9/16)}, 100%);
		background: $color-secondary;
		border-bottom: $border--heavy;
		position: absolute;
		top: 0;
	}

	.work-screenshot__frame {
		position: relative;
	}
}

.post-header__content {
	.post-header__screenshot + & {
		padding-top: 0;
	}
}

.post-header__content--work {
	.featured-image {
		border: none;
		margin-bottom: spacer(2);
		background: none;
	}

	.featured-image__frame {
		@include aspect-ratio(16,9);
		border: 3px solid color(white);
		box-shadow: 0 0.5rem 1rem -0.5rem rgba(0,0,0,0.5);
	}

	.featured-image__credit {
		display: none;
	}

	.featured-image__caption {
		background: none;
		color: $color-text;
		font-size: rem(12);
		margin: 0;
		padding: spacer(1.5) spacer(0.75) 0;
	}
}

.post-meta--work {
	flex-wrap: wrap;

	.post-meta__item {
		width: 50%;

		&:nth-child(-n+2) {
			padding-bottom: spacer(1);
			margin-bottom: spacer(1);
			border-bottom: $border--light;
		}

		&:nth-child(odd) {
			padding-right: spacer(3);
		}

		&:nth-child(even) {
			padding-left: spacer(3);
			text-align: right;
		}
	}

	.post-meta__value,
	.post-meta__list-item {
		text-transform: none;
	}
}
